@model ApplicationUser



<div class="form-group">
    <label asp-for="@Model.UserName" class="col-form-label"></label>
    <input asp-for="@Model.UserName" class="form-control" readonly />
</div>
<div class="form-group">
    <label asp-for="@Model.Email" class="col-form-label"></label>
    <input asp-for="@Model.Email" class="form-control" readonly />
</div>
<div class="form-group">
    <label asp-for="@Model.PhoneNumber" class="col-form-label"></label>
    <input asp-for="@Model.PhoneNumber" class="form-control" readonly />
</div>
