@model IEnumerable<ApplicationUser>
@{
    ViewData["Title"] = "Index";
}
<h1>All Users</h1>
<br />

<br />
<form class="my-3" asp-action="Index" asp-controller="Users">
    <div class="row">
        <div class="col-sm-8">
            <input placeholder="Search By Email" name="SearchValue" class="form-control" />
        </div>
        <div class="col-sm-4">
            <input type="submit" value="Search" class="btn btn-success btn-block" />
        </div>
    </div>
</form>
@if (Model?.Count() > 0)
{
    <table class="table table-stripped table-hover">
        <thead>
            <tr>
                <th>@Html.DisplayNameFor(M => M.Id)</th>
                <th>@Html.DisplayNameFor(M => M.UserName)</th>
                <th>@Html.DisplayNameFor(M => M.Email)</th>
                <th>@Html.DisplayNameFor(M => M.PhoneNumber)</th>
                <th>@Html.DisplayNameFor(M => M.IsAgree)</th>
                <th>Details</th>
                <th>Update</th>
                <th>Delete</th>

            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@Html.DisplayFor(m => item.Id)</td>
                    <td>@Html.DisplayFor(m => item.UserName)</td>
                    <td>@Html.DisplayFor(m => item.Email)</td>
                    <td>@Html.DisplayFor(m => item.PhoneNumber)</td>
                    <td>@Html.DisplayFor(m => item.IsAgree)</td>
                    <partial name="_ButtonsPartialView" model="item.Id.ToString()" />

                </tr>
            }
        </tbody>
    </table>
}
else
{
    <div class="alert alert-warning">
        <h4>No Users Found!!</h4>
    </div>
}
